# Goal 12, Target 12.2 Sustainability Analysis

Subset of the Sustainability_Analysis.ipynb that focuses on Target 12.2

Goal 12, Target 12.2: By 2030, achieve the sustainable management and efficient use of natural resources. Using Material Consumption per Capita (tonnes). Data available from 2000 - 2017

## Import Dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns
import os

# Read in xlsx files related to UN's Goal of Sustainability

Focus on per capita data in order to account for countries' differences in population.

In [2]:
# 1st xlsx: electronic waste generated per capita (kg) 
# Goal 12, Target 12.4, Indicator 12.4.2
mat_comp_pc = pd.read_excel('data/EN_MAT_DOMCMPC.xlsx')
mat_comp_pc.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Type of product,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,12,12.2,12.2.2,EN_MAT_DOMCMPC,"Domestic material consumption per capita, by t...",4,Afghanistan,E,G,BIM,...,1.72341,1.97509,1.93652,1.82431,1.90564,1.83294,1.82012,1.80205,1.78902,1.77893
1,12,12.2,12.2.2,EN_MAT_DOMCMPC,"Domestic material consumption per capita, by t...",4,Afghanistan,E,G,COL,...,0.01271,0.01785,0.02517,0.02440,0.02443,0.04246,0.04633,0.04798,0.04962,0.05124

In [5]:
mat_comp_pc = mat_comp_pc.groupby(['GeoAreaName']).sum().reset_index()
mat_comp_pc.head(2)

,GeoAreaName,Goal,Target,GeoAreaCode,2000,2001,2002,2003,2004,2005,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,320,329.6,128,13.78818,11.79274,12.45576,12.13908,11.79110,12.17936,...,10.67780,12.01448,12.528861,11.79266,12.08148,12.03306,11.68848,11.57904,11.50406,11.47316
1,Africa,340,350.2,68,24.57760,24.79296,25.09622,25.66054,25.42234,26.26742,...,31.33112,30.06368,30.591900,28.15918,28.38872,29.24514,30.15700,27.67922,27.90996,28.19424

In [7]:
mat_comp_pc = mat_comp_pc[["GeoAreaName", "2010", "2011", "2012", "2013", 
                         "2014", "2015", "2016", "2017"]]

melted_mat_comp_pc = pd.melt(mat_comp_pc, id_vars=['GeoAreaName'], var_name='year')
melted_mat_comp_pc.head(2)

   GeoAreaName  year      value
0  Afghanistan  2010  12.528861
1       Africa  2010  30.591900

In [8]:
melted_mat_comp_pc.rename(columns={'SeriesDescription':'Description','GeoAreaName':'name',
                                   '2010':'2010','2011':'2011','2013':'2013',
                                   '2014':'2014','2015':'2015','2016':'2016',
                                   '2017':'2017'}, inplace=True)

In [9]:
#Write to csv file
melted_mat_comp_pc.to_csv("data/melted_consumption.csv", encoding="utf-8", index=False)

In [10]:
hdi_df = pd.read_csv('data/HDI_data.csv')
hdi_df.head(2)

          name  humanDevelopmentIndex   pop2020
0       Norway                  0.953  5421.241
1  Switzerland                  0.944  8654.622

In [11]:
merged_consumption_hdi = pd.merge(melted_mat_comp_pc, hdi_df, on=["name"])
merged_consumption_hdi.head()

          name  year      value  humanDevelopmentIndex    pop2020
0  Afghanistan  2010  12.528861                  0.498  38928.346
1  Afghanistan  2011  11.792660                  0.498  38928.346
2  Afghanistan  2012  12.081480                  0.498  38928.346
3  Afghanistan  2013  12.033060                  0.498  38928.346
4  Afghanistan  2014  11.688480                  0.498  38928.346

In [12]:
merged_consumption_hdi = merged_consumption_hdi.rename(columns={"value": "MCPC","humanDevelopmentIndex": "HDI", "pop2020": "Population"})
merged_consumption_hdi.head(2)

          name  year       MCPC    HDI  Population
0  Afghanistan  2010  12.528861  0.498   38928.346
1  Afghanistan  2011  11.792660  0.498   38928.346

In [13]:
merged_consumption_hdi = merged_consumption_hdi[["name", "year", "HDI", "Population", "MCPC" ]]
merged_consumption_hdi.head(2)

          name  year    HDI  Population       MCPC
0  Afghanistan  2010  0.498   38928.346  12.528861
1  Afghanistan  2011  0.498   38928.346  11.792660

In [14]:
# Write to csv file
merged_consumption_hdi.to_csv("data/merged_consumption_hdi.csv", encoding="utf-8", index=False)