# Part II: Machine Learning Analysis 

This is the continuation of "Sustainability_Analysis.ipynb" where the data from the UN's Global Sustainable Development Goals was cleaned and merged into the "electonics_sustainability.csv" file.

In [3]:
# Import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
# Read in the csv file
sustainability = pd.read_csv('electronics_sustainability.csv')
sustainability.head()

,Target_x_x,Indicator_x_x,SeriesDescription_x_x,GeoAreaName,Units_x_x,2000_x_x,2001_x_x,2002_x_x,2003_x_x,2004_x_x,...,2007,2008,2010,2011,2012,2013,2014,2015,2016,2017
0,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Armenia,KG,1.076813,1.146745,1.227771,1.335728,1.472078,...,NaN,1359.00000,300.00000,12.0000,167.399994,17.0000,2379.000,289.700012,604.900024,582.799988
1,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Armenia,KG,1.076813,1.146745,1.227771,1.335728,1.472078,...,362275.0,433537.53125,432811.78125,457729.8125,460844.687500,574973.8125,571750.375,551020.062500,601917.375000,541012.375000
2,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Armenia,KG,1.076813,1.146745,1.227771,1.335728,1.472078,...,NaN,2362.00000,2286.00000,5154.0000,7983.000000,4059.0000,2290.000,3766.800049,12948.299805,1636.900024
3,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Austria,KG,12.540957,13.187201,13.786800,14.358980,14.916938,...,NaN,77201.00000,67983.00000,NaN,62905.000000,NaN,71327.000,NaN,NaN,NaN
4,12.4,12.4.2,"Electronic waste generated, per capita (Kg)",Austria,KG,12.540957,13.187201,13.786800,14.358980,14.916938,...,NaN,45033.00000,47959.00000,NaN,59046.000000,NaN,60260.000,NaN,66429.000000,NaN

In [ ]:
# Assign the data to X and y and reshape data into array

X = sustainability[""].values.reshape(-1, 1)
y = sustainability[""].values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)
X

In [ ]:
# Plot the data

plt.scatter(X, y)

In [2]:
# Create the model and fit to data
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)