# Goal 12, Target 12.4 Sustainability Analysis

Subset of the Sustainability_Analysis.ipynb that focuses on Target 12.4

Goal 12, Target 12.4: By 2020, achieve the environmentally sound management of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks, and significantly reduce their release to air, water and soil in order to minimize their adverse impacts on human health and the environment

## Import Dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns
import os

# Read in xlsx files related to UN's Goal of Sustainability

Focus on per capita data in order to account for countries' differences in population.

## Electronic Waste Datasets

In [2]:
# 1st xlsx: electronic waste generated per capita (kg) 
# Goal 12, Target 12.4, Indicator 12.4.2
e_waste_pc = pd.read_excel('data/EN_EWT_GENPCAP.xlsx')
e_waste_pc.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Units,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12,12.4,12.4.2,EN_EWT_GENPCAP,"Electronic waste generated, per capita (Kg)",4,Afghanistan,E,G,KG,...,0.254903,0.297841,0.342332,0.385085,0.427947,0.468858,0.509681,0.549503,0.592546,0.630326
1,12,12.4,12.4.2,EN_EWT_GENPCAP,"Electronic waste generated, per capita (Kg)",2,Africa,E,G,KG,...,1.736518,1.882356,1.991023,2.095194,2.187254,2.262542,2.333871,2.384393,2.438595,2.486051

In [3]:
e_waste_pc = e_waste_pc[["SeriesDescription", "GeoAreaName", "2010", "2011", "2012", "2013", 
                         "2014", "2015", "2016", "2017", "2018", "2019" ]]

melted_e_waste_pc = pd.melt(e_waste_pc, id_vars=["SeriesDescription", 'GeoAreaName'], var_name='year')
melted_e_waste_pc.head()

                             SeriesDescription  GeoAreaName  year      value
0  Electronic waste generated, per capita (Kg)  Afghanistan  2010   0.254903
1  Electronic waste generated, per capita (Kg)       Africa  2010   1.736518
2  Electronic waste generated, per capita (Kg)      Albania  2010   4.391893
3  Electronic waste generated, per capita (Kg)      Algeria  2010   5.458888
4  Electronic waste generated, per capita (Kg)     Americas  2010  10.516785

## Electronic Waste Recycling Datasets

In [4]:
# 3rd xlsx: electronic waste recycling, per capita (kg) 
# Goal 12, Target 12.4, Indicator 12.4.2
e_recycling_pc = pd.read_excel('data/EN_EWT_RCYPCAP.xlsx')
e_recycling_pc.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Units,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,12,12.4,12.4.2,EN_EWT_RCYPCAP,"Electronic waste recycling, per capita (Kg)",8,Albania,E,G,KG,NaN,NaN,NaN,3.237495,4.242644,4.889079,5.103762,5.303011,5.477067,5.639709
1,12,12.4,12.4.2,EN_EWT_RCYPCAP,"Electronic waste recycling, per capita (Kg)",28,Antigua and Barbuda,E,G,KG,NaN,NaN,NaN,NaN,11.883926,11.755779,12.078921,12.385940,12.666956,12.948181

In [5]:
e_recycling_pc.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'Nature', 'Reporting Type', 'Units',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019'],
      dtype='object')

In [6]:
e_recycling_pc = e_recycling_pc[["SeriesDescription", "GeoAreaName", "2010", "2011", "2012", "2013", 
                         "2014", "2015", "2016", "2017", "2018", "2019" ]]

melted_e_recycling_pc = pd.melt(e_recycling_pc, id_vars=["SeriesDescription", 'GeoAreaName'], var_name='year')
melted_e_recycling_pc.head()

,SeriesDescription,GeoAreaName,year,value
0,"Electronic waste recycling, per capita (Kg)",Albania,2010,NaN
1,"Electronic waste recycling, per capita (Kg)",Antigua and Barbuda,2010,NaN
2,"Electronic waste recycling, per capita (Kg)",Argentina,2010,NaN
3,"Electronic waste recycling, per capita (Kg)",Armenia,2010,NaN
4,"Electronic waste recycling, per capita (Kg)",Australia,2010,NaN

### Merge Dataframes

In [7]:
merged_electronic = pd.merge(melted_e_recycling_pc, melted_e_waste_pc, on=["year", "GeoAreaName"])
merged_electronic = merged_electronic.rename(columns={
                                                    "GeoAreaName": "name",
                                                    "year": "TimePeriod",
                                                    "SeriesDescription_y": "Electronic Waste Generated",
                                                    "value_y": "Electronic Waste Generated, per capita (Kg)",
                                                    "SeriesDescription_x": "Electronic Waste Recycling", 
                                                    "value_x": "Electronic Waste Recycling, per capita (Kg)"})
merged_electronic.info()
merged_electronic.astype({'TimePeriod': 'int32'}).dtypes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 770 entries, 0 to 769
Data columns (total 6 columns):
Electronic Waste Recycling                     770 non-null object
name                                           770 non-null object
TimePeriod                                     770 non-null object
Electronic Waste Recycling, per capita (Kg)    616 non-null float64
Electronic Waste Generated                     770 non-null object
Electronic Waste Generated, per capita (Kg)    770 non-null float64
dtypes: float64(2), object(4)
memory usage: 42.1+ KB

Electronic Waste Recycling                      object
name                                            object
TimePeriod                                       int32
Electronic Waste Recycling, per capita (Kg)    float64
Electronic Waste Generated                      object
Electronic Waste Generated, per capita (Kg)    float64
dtype: object

In [8]:
merged_electronic.head()

,Electronic Waste Recycling,name,TimePeriod,"Electronic Waste Recycling, per capita (Kg)",Electronic Waste Generated,"Electronic Waste Generated, per capita (Kg)"
0,"Electronic waste recycling, per capita (Kg)",Albania,2010,NaN,"Electronic waste generated, per capita (Kg)",4.391893
1,"Electronic waste recycling, per capita (Kg)",Antigua and Barbuda,2010,NaN,"Electronic waste generated, per capita (Kg)",9.656717
2,"Electronic waste recycling, per capita (Kg)",Argentina,2010,NaN,"Electronic waste generated, per capita (Kg)",7.624459
3,"Electronic waste recycling, per capita (Kg)",Armenia,2010,NaN,"Electronic waste generated, per capita (Kg)",3.178374
4,"Electronic waste recycling, per capita (Kg)",Australia,2010,NaN,"Electronic waste generated, per capita (Kg)",18.370894

In [9]:
#Write to csv file
merged_electronic.to_csv("data/merged_electronic.csv", encoding="utf-8", index=False)

In [10]:
hdi_df = pd.read_csv('data/HDI_data.csv')
hdi_df.head(2)

          name  humanDevelopmentIndex   pop2020
0       Norway                  0.953  5421.241
1  Switzerland                  0.944  8654.622

In [11]:
merged_electronic_hdi = pd.merge(merged_electronic, hdi_df, on=["name"])
merged_electronic_hdi.head()

,Electronic Waste Recycling,name,TimePeriod,"Electronic Waste Recycling, per capita (Kg)",Electronic Waste Generated,"Electronic Waste Generated, per capita (Kg)",humanDevelopmentIndex,pop2020
0,"Electronic waste recycling, per capita (Kg)",Albania,2010,NaN,"Electronic waste generated, per capita (Kg)",4.391893,0.785,2877.797
1,"Electronic waste recycling, per capita (Kg)",Albania,2011,NaN,"Electronic waste generated, per capita (Kg)",4.857921,0.785,2877.797
2,"Electronic waste recycling, per capita (Kg)",Albania,2012,NaN,"Electronic waste generated, per capita (Kg)",5.310308,0.785,2877.797
3,"Electronic waste recycling, per capita (Kg)",Albania,2013,3.237495,"Electronic waste generated, per capita (Kg)",5.740930,0.785,2877.797
4,"Electronic waste recycling, per capita (Kg)",Albania,2014,4.242644,"Electronic waste generated, per capita (Kg)",6.112550,0.785,2877.797

In [12]:
merged_electronic_hdi = merged_electronic_hdi.rename(columns={"humanDevelopmentIndex": "HDI", "pop2020": "Population"})

In [13]:
merged_electronic_hdi = merged_electronic_hdi[["name", "TimePeriod", "HDI", "Population", "Electronic Waste Recycling, per capita (Kg)", "Electronic Waste Generated, per capita (Kg)" ]]

In [14]:
# Write to csv file
merged_electronic_hdi.to_csv("data/merged_electronic_hdi.csv", encoding="utf-8", index=False)

In [ ]:
# 57 countries represent 90% of data
merged_electronic.sample(n=57).head(10)

## Hazardous Waste Datasets

In [36]:
# 5th xlsx: hazardous waste generated, per capita
# Goal 12, Target 12.4, Indicator 12.4.2
haz_waste_gen_pc = pd.read_excel('data/EN_HAZ_PCAP.xlsx')
haz_waste_gen_pc.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,UpperBound,LowerBound,BasePeriod,Source,FootNote,Nature,Reporting Type,Units
0,12,12.4,12.4.2,EN_HAZ_PCAP,"Hazardous waste generated, per capita (Kg)",12,Algeria,2003,10.029776,2003,NaN,NaN,NaN,UNSTATS / Environment Live,Quantity of hazardous waste in permanent storage.,C,G,KG
1,12,12.4,12.4.2,EN_HAZ_PCAP,"Hazardous waste generated, per capita (Kg)",12,Algeria,2007,9.478113,2007,NaN,NaN,NaN,UNSTATS / Environment Live,NaN,C,G,KG

In [44]:
haz_waste_gen_pc = haz_waste_gen_pc[["GeoAreaName", 'TimePeriod', 'Value']]
haz_waste_gen_pc.info()
haz_waste_gen_pc.astype({'TimePeriod': 'int32'}).dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 3 columns):
GeoAreaName    769 non-null object
TimePeriod     769 non-null int64
Value          769 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 18.1+ KB

GeoAreaName     object
TimePeriod       int32
Value          float64
dtype: object

In [45]:
# # Merge the "haz_waste_gen_pc" dataframe with previously merged "merged_electronic" dataframe 
# merged_e_haz = pd.merge(merged_electronic, haz_waste_gen_pc, on=["TimePeriod"])
# merged_e_haz.head()

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [19]:
# 6th xlsx: hazardous waste generated, in metric tonnes
# Goal 12, Target 12.4, Indicator 12.4.2
haz_waste_gen_total = pd.read_excel('data/EN_HAZ_GENV.xlsx')
haz_waste_gen_total.head(2)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,Nature,Reporting Type,Units,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,12,12.4,12.4.2,EN_HAZ_GENV,Hazardous waste generated (Tonnes),12,Algeria,C,G,TONNES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12,12.4,12.4.2,EN_HAZ_GENV,Hazardous waste generated (Tonnes),20,Andorra,C,G,TONNES,...,NaN,NaN,NaN,NaN,NaN,976.0,2081.0,1788.0,1923.40002,1527.5

### Merge the two hazardous waste generated dataframes